Source: darkglass-lv2-extensions
Section: devel
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Homepage: https://github.com/Darkglass-Electronics/LV2-Extensions/
Rules-Requires-Root: no

Package: darkglass-lv2-extensions
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Recommends: lv2-dev
Description: Darkglass LV2 extensions
 Custom LV2 Extensions used in several Darkglass products.
