#!/usr/bin/make -f

include /usr/share/dpkg/kxstudio.mk

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/kxstudio \
		-DJUCE_BUILD_HELPER_TOOLS=ON \
		-DJUCE_INSTALL_DESTINATION=lib/cmake/JUCE-6.1.6

override_dh_auto_install:
	dh_auto_install
	install -d $(CURDIR)/debian/tmp/opt/kxstudio/bin
	install -m 755 $(CURDIR)/obj-*/extras/Build/juceaide/juceaide_artefacts/Release/juceaide \
		$(CURDIR)/debian/tmp/opt/kxstudio/bin/juceaide61

%:
	dh $@ -Scmake
