#!/usr/bin/make -f

include /usr/share/dpkg/kxstudio.mk

export CXXFLAGS += -DJUCER_ENABLE_GPL_MODE=1

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/kxstudio \
		-DJUCE_BUILD_HELPER_TOOLS=ON \
		-DJUCE_INSTALL_DESTINATION=lib/cmake/JUCE-7.0.9

override_dh_auto_build:
	dh_auto_build
	make -C extras/Projucer/Builds/LinuxMakefile CONFIG=Release -j $(nproc)

override_dh_auto_clean:
	dh_auto_clean
	rm -rf extras/Projucer/Builds/LinuxMakefile/build

override_dh_auto_install:
	dh_auto_install
	install -d $(CURDIR)/debian/tmp/opt/kxstudio/bin
	install -m 755 $(CURDIR)/extras/Projucer/Builds/LinuxMakefile/build/Projucer \
		$(CURDIR)/debian/tmp/opt/kxstudio/bin/Projucer70
	install -m 755 $(CURDIR)/obj-*/extras/Build/juceaide/juceaide_artefacts/Release/juceaide \
		$(CURDIR)/debian/tmp/opt/kxstudio/bin/juceaide70
# 	mv $(CURDIR)/debian/tmp/opt/kxstudio/bin/JUCE-7.0.9/juce_lv2_helper \
# 		$(CURDIR)/debian/tmp/opt/kxstudio/bin/juce70_lv2_helper
# 	mv $(CURDIR)/debian/tmp/opt/kxstudio/bin/JUCE-7.0.9/juce_vst3_helper \
# 		$(CURDIR)/debian/tmp/opt/kxstudio/bin/juce70_vst3_helper
# 	rmdir $(CURDIR)/debian/tmp/opt/kxstudio/bin/JUCE-7.0.9

%:
	dh $@ -Scmake
