#!/usr/bin/make -f

KXSTUDIO_NO_FASTMATH = y
include /usr/share/dpkg/kxstudio.mk

SUIL_MODULE_DIR = /usr/lib/$(DEB_TARGET_MULTIARCH)/suil-kxstudio

export CFLAGS += -DKXSTUDIO_SUIL_MODULE_DIR='"$(SUIL_MODULE_DIR)"'
export CXXFLAGS += -DKXSTUDIO_SUIL_MODULE_DIR='"$(SUIL_MODULE_DIR)"'
export LDFLAGS += -Wl,-z,nodelete

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/opt/kxstudio --libdir=lib \
	-Ddefault_library=static \
	-Ddocs=disabled \
	-Dgtk2=enabled \
	-Dgtk3=enabled \
	-Dqt5=enabled \
	-Dqt6=disabled

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/$(DEB_TARGET_MULTIARCH)
	mv $(CURDIR)/debian/tmp/opt/kxstudio/lib/suil-0 $(CURDIR)/debian/tmp$(SUIL_MODULE_DIR)

%:
	dh $@
