#!/usr/bin/make -f

include /usr/share/dpkg/kxstudio-audio-plugin.mk

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- NOOPT=true -j16

override_dh_auto_install:
	dh_auto_install -- NOOPT=true PREFIX=/usr DESTDIR=$(CURDIR)/debian/dpf-plugins/
# 	$(call kxstudio_audio_plugin_test)
