*.build
*.buildinfo
*.changes
*.debian.*
*.dsc
*.orig.*
*.tar.*
*.upload

files

/libs/*/*
!/libs/*/debian
/libs/*/debian/*
!/libs/*/debian/patches
/libs/*/debian/patches/*
!/libs/*/debian/patches/*.patch
!/libs/*/debian/patches/series
!/libs/*/debian/source
!/libs/*/debian/changelog
!/libs/*/debian/clean
!/libs/*/debian/control
!/libs/*/debian/install
!/libs/*/debian/links
!/libs/*/debian/*.install
!/libs/*/debian/*.links
!/libs/*/debian/rules

!/libs/kxstudio-build-scripts/*.mk
!/libs/kxstudio-build-scripts/*.patch
!/libs/kxstudio-build-scripts/*.sh
!/libs/kxstudio-build-scripts/*.supp
!/libs/kxstudio-build-scripts/debian/copyright

/apps/*/*
!/apps/*/debian
/apps/*/debian/*
!/apps/*/debian/patches
/apps/*/debian/patches/*
!/apps/*/debian/binaries
!/apps/*/debian/patches/*.patch
!/apps/*/debian/patches/series
!/apps/*/debian/source
!/apps/*/debian/changelog
!/apps/*/debian/clean
!/apps/*/debian/control
!/apps/*/debian/install
!/apps/*/debian/links
!/apps/*/debian/*.install
!/apps/*/debian/*.links
!/apps/*/debian/rules

# https://launchpad.net/~falktx/+archive/ubuntu/carla+obs/
!/apps/obs-studio/*
/apps/obs-studio/*.xz
/apps/obs-studio/*.gz
/apps/obs-studio/obs-studio

/plugins/*/*
!/plugins/*/debian
/plugins/*/debian/*
!/plugins/*/debian/patches
/plugins/*/debian/patches/*
!/plugins/*/debian/patches/*.patch
!/plugins/*/debian/patches/series
!/plugins/*/debian/source
!/plugins/*/debian/changelog
!/plugins/*/debian/clean
!/plugins/*/debian/control
!/plugins/*/debian/install
!/plugins/*/debian/links
!/plugins/*/debian/*.install
!/plugins/*/debian/*.links
!/plugins/*/debian/rules

/kxstudio/kxstudio-repos/keyrings/
