*.build
*.buildinfo
*.changes
*.debian.*
*.dsc
*.orig.*

/libs/*/*
!/libs/*/debian

/libs/*/debian/*
!/libs/*/debian/patches
!/libs/*/debian/source
!/libs/*/debian/changelog
!/libs/*/debian/control
!/libs/*/debian/rules

!/libs/kxstudio-build-scripts/
