#!/usr/bin/make -f

include /usr/share/dpkg/kxstudio.mk

override_dh_auto_configure:
	dh_auto_configure -- -Ddocs=disabled -Dplugins=enabled -Dstrict=false -Dtests=disabled -Dold_headers=false -Dlv2dir=/usr/lib/lv2
	# NOTE -Dstrict=true fails under 20.04 base
	# NOTE -Dtests=enabled fails under 20.04 base

override_dh_install:
	dh_install
	rm -rf debian/lv2-dev/usr/lib/lv2/eg*.lv2

%:
	dh $@
