#!/usr/bin/make -f

KXSTUDIO_NO_FASTMATH = y
include /usr/share/dpkg/kxstudio.mk

WAF = python3 ./waf

override_dh_auto_configure:
	$(WAF) configure \
		--prefix=/usr \
		--libdir=/usr/lib/$(DEB_TARGET_MULTIARCH) \
		--mandir=/usr/share/man \
                --strict

override_dh_auto_build:
	$(WAF)

override_dh_auto_clean:
	$(WAF) clean || true

override_dh_auto_install:
	$(WAF) install --destdir=$(CURDIR)/debian/jalv

override_dh_installchangelogs:
	dh_installchangelogs NEWS

%:
	dh $@
