#!/usr/bin/make -f

KXSTUDIO_NO_FASTMATH = y
include /usr/share/dpkg/kxstudio.mk

override_dh_auto_configure:
	./configure --disable-maintainer-mode \
		    --prefix=/opt/kxstudio \
		    --enable-static \
		    --disable-shared

override_dh_auto_install:
	dh_auto_install
	# remove unwanted files
	rm $(CURDIR)/debian/libmp3lame-static/opt/kxstudio/lib/libmp3lame.la
	rm -r $(CURDIR)/debian/libmp3lame-static/opt/kxstudio/share/doc

%:
	dh $@
