Source: sord-static
Section: devel
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13),
  kxstudio-build-scripts (>= 5),
  meson,
  pkg-config,
  libpcre2-dev,
  libserd-static (>= 6:0.32.4-1kxstudio1)
Standards-Version: 4.5.0
Homepage: http://drobilla.net/software/sord/
Rules-Requires-Root: no

Package: libsord-static
Architecture: any
Depends: ${misc:Depends}, libserd-static
Conflicts: sord-static
Breaks: sord-static
Description: library for storing RDF data in memory (static)
 Sord is a lightweight C library for storing Resource
 Description Framework (RDF) data in memory.
 .
 This package provides the static library used in KXStudio builds.

Package: sordi
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for storing RDF data in memory - utilities
 Sord is a lightweight C library for storing Resource
 Description Framework (RDF) data in memory.
 .
 This package provides the 'sordi' and 'sord_validate' utilities.
