#!/usr/bin/make -f

KXSTUDIO_NO_FASTMATH = y
include /usr/share/dpkg/kxstudio.mk

override_dh_auto_configure:
	./configure --disable-maintainer-mode \
		    --prefix=/opt/kxstudio \
		    --enable-static \
		    --disable-shared \
		    --enable-lfs-alias \
		    --with-audio=dummy \
		    -with-cpu=generic_nofpu \
		    $(EXTRA_CONFIG)

override_dh_auto_install:
	dh_auto_install
	# remove unwanted files
	rm $(CURDIR)/debian/libmpg123-static/opt/kxstudio/lib/libmpg123.la
	rm $(CURDIR)/debian/libmpg123-static/opt/kxstudio/lib/libout123.la
	rm $(CURDIR)/debian/libmpg123-static/opt/kxstudio/lib/libsyn123.la
	rm -r $(CURDIR)/debian/libmpg123-static/opt/kxstudio/share/man

override_dh_auto_clean:
	dh_auto_clean
	rm -f config.log

override_dh_auto_test:
	# skip

%:
	dh $@
