Source: kxstudio-build-scripts
Section: devel
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: kxstudio-build-scripts
Architecture: all
Depends: ${misc:Depends}
Description: Build scripts for KXStudio repositories
 This package provides the build scripts used in the KXStudio repositories.

Package: kxstudio-audio-plugin-tester
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
    kxstudio-build-scripts,
    kxstudio-lv2-extensions,
    mod-lv2-extensions,
    lilv-utils,
    lv2lint,
    valgrind
Description: Audio plugin test setup for KXStudio repositories
 This package provides the setup used for testing audio plugins
 in the KXStudio repositories.
