#!/usr/bin/make -f

CARLA_BACKEND_EXTRAFLAGS  = PREFIX=/opt/kxstudio
CARLA_BACKEND_EXTRAFLAGS += CAN_GENERATE_LV2_TTL=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_ALSA=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_JACK=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_PULSEAUDIO=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_DGL=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_HYLIA=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_GTK2=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_GTK3=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_X11=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_FFMPEG=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_FLUIDSYNTH=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_LIBLO=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_LIBMAGIC=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_PYQT=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_QT=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_QT4=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_QT5=false
CARLA_BACKEND_EXTRAFLAGS += HAVE_SNDFILE=false
CARLA_BACKEND_EXTRAFLAGS += EXTERNAL_PLUGINS=false
CARLA_BACKEND_EXTRAFLAGS += USING_JUCE=false
CARLA_BACKEND_EXTRAFLAGS += USING_JUCE_AUDIO_DEVICES=false
CARLA_BACKEND_EXTRAFLAGS += USING_JUCE_GUI_EXTRA=false
CARLA_BACKEND_EXTRAFLAGS += USING_RTAUDIO=false
CARLA_BACKEND_EXTRAFLAGS += NOOPT=true

export CFLAGS=
export CXXFLAGS=
export CPPFLAGS=
export LDFLAGS=

override_dh_auto_configure:
	mkdir -p build
	tar -x -C build --overwrite --strip-components=1 -f carla.tar.gz

override_dh_auto_build:
	$(MAKE) all -C build $(CARLA_BACKEND_EXTRAFLAGS)

override_dh_auto_clean:
	if [ ! -f carla.tar.gz ]; then wget https://github.com/falkTX/Carla/archive/refs/tags/v2.5.2.tar.gz -O carla.tar.gz; fi
	rm -rf build

%:
	dh $@
