[Desktop Entry]
Version=1.0
Name=Ardour
Comment=Digital Audio Workstation
Exec=/usr/bin/ardour
Terminal=false
Type=Application
Icon=/opt/ardour/share/resources/Ardour-icon_512px.png
Categories=AudioVideo;AudioEditing;Audio;Recorder;
MimeType=application/x-ardour;
