#!/usr/bin/make -f

KXSTUDIO_NO_FASTMATH = y
include /usr/share/dpkg/kxstudio.mk

override_dh_auto_configure:
	./configure --disable-maintainer-mode \
		    --prefix=/opt/kxstudio \
		    --enable-static \
		    --disable-shared

override_dh_autoreconf:
	# skip

override_dh_auto_install:
	# skip

%:
	dh $@
