Source: serd-static
Section: devel
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13),
  kxstudio-build-scripts (>= 5),
  python3,
  libzix-static (>= 6:0.6.2-1kxstudio1)
Standards-Version: 4.5.0
Homepage: http://drobilla.net/software/serd/
Rules-Requires-Root: no

Package: libserd-static
Architecture: any
Depends: ${misc:Depends}
Conflicts: serd-static
Breaks: serd-static
Description: lightweight RDF syntax library (static)
 Serd is a lightweight C library for RDF syntax which supports reading
 and writing Turtle and NTriples.
 .
 This package provides the static library used in KXStudio builds.

Package: serdi
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lightweight RDF syntax library - serdi tool
 Serd is a lightweight C library for RDF syntax which supports reading
 and writing Turtle and NTriples.
 .
 This package provides the utility 'serdi'.
