Source: vitling-crypt
Section: sound
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13),
  kxstudio-audio-plugin-tester (>= 13),
  distrho-juce-6.1-dev
Standards-Version: 4.5.0
Homepage: https://www.vitling.xyz/plugins/
XSC-KXStudio-VCS: https://github.com/DISTRHO-Ports/vitling-crypt/
Rules-Requires-Root: no

Package: vitling-crypt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: lv2-plugin, vst-plugin, vst3-plugin
Description: Hyper-Unison Synthesiser from Bow Church/Vitling
 Crypt is a software synthesiser plugin designed for creating spacious cold
 hyper-unisoned synth sounds, built for the Bow Church project.
 .
 It features CPU-efficient unison oscillation of up to 64 detuned oscillators,
 and parameters to create dirt and space in the sound.
