#!/usr/bin/make -f

KXSTUDIO_NO_FASTMATH = y
KXSTUDIO_NO_LTO = y
include /usr/share/dpkg/kxstudio-audio-plugin.mk

ifeq ($(DEB_HOST_ARCH),armhf)
ARCHITECTURE = armv7ve
else ifeq ($(DEB_HOST_ARCH),arm64)
ARCHITECTURE = aarch64
else
ARCHITECTURE = x86_64
endif

# these have custom names on LSP makefiles
export EXE_FLAGS = $(LDFLAGS)
export SO_FLAGS = $(LDFLAGS)

%:
	dh $@

override_dh_auto_configure:
	$(MAKE) config ARCHITECTURE=$(ARCHITECTURE) FEATURES='clap jack ladspa lv2 vst2' PREFIX=/usr

override_dh_auto_install:
	dh_auto_install

	# Remove unused files
	rm debian/tmp/usr/lib/*.a
	rm -r debian/tmp/usr/lib/pkgconfig

override_dh_install:
	dh_install
	# lv2lint fails due to ARM specific symbols
	# $(call kxstudio_audio_plugin_test)
