Source: libsndfile-static
Section: devel
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13),
  kxstudio-build-scripts (>= 5),
  autoconf,
  automake,
  libtool,
  pkg-config,
  libflac-static (>= 6:1.5.0-1kxstudio3),
  libmp3lame-static (>= 6:3.100-1kxstudio2),
  libmpg123-static (>= 6:1.29.3-2kxstudio5),
  libopus-static (>= 6:1.5.2-1kxstudio1),
  libvorbis-static (>= 6:1.3.7-1kxstudio2),
  libasound2-dev,
  python3
Standards-Version: 4.5.0
Homepage: https://libsndfile.github.io/libsndfile/
Rules-Requires-Root: no

Package: libsndfile-static
Architecture: any
Depends: ${misc:Depends},
  libflac-static,
  libmp3lame-static,
  libmpg123-static,
  libopus-static,
  libvorbis-static
Description: Library for reading/writing audio files (static)
 libsndfile is a library of C routines for reading and writing files containing
 sampled audio data.
 .
 This package provides the static library used in KXStudio builds.

Package: sndfile-programs
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: sndfile-tools
Description: Sample programs that use libsndfile
 This package contains simple programs which use libsndfile for operating on
 sound files.
 .
 Programs include:
   - sndfile-cmp : compare the audio data of two files
   - sndfile-concat : concatenate two or more files
   - sndfile-convert : convert between sound file formats
   - sndfile-info : print information about files
   - sndfile-metadata-get/set : get and set file metadata
   - sndfile-play : play a sound file
